.github-profile-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 8px;
}

.input-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.input-wrapper input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border: 1px solid lightblue;
}

.btn {
  padding: 8px 24px;
  border: none;
  background-color: #b9bcbc;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.user {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid;
}

.avatar {
  height: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.name-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.name-container p {
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}

.profile-info div {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
