.search-engine {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.search-engine input {
  width: 50%;
  height: 45px;
  border: 1px solid;
  border-radius: 8px;
  /* padding: 2px 15px; */
  font-size: 16px;
  outline: none;
  background-color: #ffffff;
  color: #555555;
}

.search-btn {
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 20px;
  outline: none;
  margin: 40px;
  padding: 13px 15px;
}
