@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.weather-container {
  margin: 30px auto;
  width: 90%;
  max-width: 700px;
  height: 90vh;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  background-color: blue;
  color: white;
  padding: 20px 15px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
}

.city-name {
  margin-bottom: 10px;
}
